.btn {
  padding: 6px 8px;

  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 600;

  background-color: transparent;
  color: #5855f2a3;
  border: 2px solid #5855f2a3;
}
