.list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.link {
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: none;
  color: #5855f2a3;
}
.link:hover,
.link:focus {
  color: tomato;
}

.link__active {
  font-weight: 600;
  color: tomato;
}
