.header-section {
  padding: 20px 40px;
  box-shadow: 0px 6px 17px -7px #5855f2a3;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 30px;
}

.site-nav__link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.site-nav__link--active {
  font-weight: 600;
  color: #5855f2a3;
}
